node_modules
dist
*.zip
.DS_Store
.env
.env.local
.env.*.local
composer-setup.php
composer.phar
vendor
/hris/vendor
/hris/node_modules
/hris/.env
/hris/public/storage
/hris/public/build
/hris/public/hot
/hris/storage/*.key
/hris/storage/pail
*.log

